* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
} 

.main-menu {
    display: flex;
}

.main-menu li {
    padding:10px 15px;
    list-style-type: none;
}

.main-menu li:hover {
    background-color: burlywood;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

#shopping-cart {
    width: 1.3rem;
}

.hero-section {
    display: flex;
    align-items: center;
}

.hero-text {
    width: 70%;
}

.hero-text h1{
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-left: 1.3rem;
}

.hero-text p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    margin-left: 1.3rem;
    width: 600px;
}

.hero-img img {
    width:22rem;
    background-image: url('images/Circle\ design.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-1 {
    width: 15rem;
    height: auto;
    color: #FFF;
    margin-left: 1.3rem;
    padding: 1rem;
    background: #E02C6D;
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.btn-1:hover {
    color: black;
    background-color: lightcoral;
}

.arrow {
    position: relative;
    top: .2rem;
    left: .7rem;
    font-size: 1.3rem;
}
